<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-186250257-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-186250257-1');
</script>
</head>


<span>
<a href="https://pymae.github.io">Home</a> | 
<a href="https://pymae.github.io/buy.html">Purchasing</a> | 
<a href="https://pymae.github.io/sample.html">Chapter 5 Sample</a> |
<a href="https://pymae.github.io/about.html">About</a> | 
<a href="https://pymae.github.io/emaillist.html">Mailing List</a>
</span>
